main{
    background-color:rgba(20, 18, 25, 0.8);
    border: 3px solid gold;


}

#recent-movie-container {

    display: flex;
    background-color:rgba(20, 18, 25, 0.8);
    flex-direction: column;
    color: whitesmoke;
    border: 1px solid gold;
    
}

h1{
    color: whitesmoke;
    margin: 2%;
}

ul {
    list-style: none;
}

.fav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.key {
    font-weight: bold;
    font-size: 1.2rem;
}
.fav-list-item {
    border: 2px solid black;
    margin:50px;
}

.remove-item-button {
    border: 3% solid yellow;
    background-color: red;
    color: yellow;
    border-radius: 6%;
    
}


.plot {
    color: palegoldenrod;
}

img {
    margin: 10px;
}


.crew {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fav-list-item-span{
    display: flex;
    flex-direction: column;
}
.rating-details {
    color: black;
    font-weight: bold;
}

.ratings {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn-style {
    border: 3% solid black;
    background-color: black;
    color: yellow;
    border-radius: 5%;
    cursor: pointer;

}

.ratings{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid black;

}

.movie-title {
    font-weight: bolder;
    color: goldenrod;

}

.font-style{
    font-family: monospace;

}
 .movie-details {
    display: flex;
    justify-content: space-between;
} 

.details-span {
    width:85%;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;

}



