#search-list {
    
    background-color:black;
    color:white;
    padding:0;
    left: 36%;
    position: absolute;
    z-index: 999;
    top: 80%;
    list-style: none;
    
}
.list-title {
    display: inline-block;
}
.list-plot {
    margin: 10px;
}
 
.list-val {
    display: flex;
    justify-content: space-between;
    border: 1px solid gold;
    margin: 2px;


}

.year {
    display: block;
}
.favSpan {

}
i {
    color: white;
    
} 
