body {
            

}

    main {
        border: 3px solid gold;
    
    }


#movie-details-container {

    display: flex;
    background-color:rgba(20, 18, 25, 0.8);
    flex-direction: column;
    color: whitesmoke;
    border: 1px solid gold;
    
}

.movie-details {
    width:100%;
    display: inline-flex;
    margin:6%;
}
/* hr {
    margin: 0;
    color: darkgoldenrod;
}.col-12 {
    color: goldenrod;
} */

.movie-data{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 40%;

}

.movie-plot {
    margin: 0% 2% 0% 5%;
    font-size: 1.5rem;
}

.btn-style {
    border: 3% solid black;
    background-color: black;
    color: yellow;
    border-radius: 5%;
    cursor: pointer;

}

/* .rating {
    background-color: black;
    color: yellow;

} */
#voteVal {
    margin: 0;
}

.fa-star {
    color: goldenrod;
}
.font-family {
    font-family: monospace;
}
.movie-plot {
    color: palegoldenrod;
    font-size:large;
}

.movie-title {
    margin: 0% 2% 0% 2%;

    font-variant: small-caps ;
    font-weight: bolder;
    color: goldenrod;
}
#favIcon {
    color: red;
}
#favSpan {
    text-align: left;
}

#favButton {
background-color: gold;}

#fav{
    background-color: gold;
    display: flex;
    justify-content: center;
}


.hr {
    color:rgba(20, 18, 25, 0);
}